<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>803978652382-9b1k750sb4lpn6kb9s9tu1ll3mq87qaj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.803978652382-9b1k750sb4lpn6kb9s9tu1ll3mq87qaj</string>
	<key>API_KEY</key>
	<string>AIzaSyAedcrXDB23CFQUB6gKfz-RgksU4Qd6-mM</string>
	<key>GCM_SENDER_ID</key>
	<string>803978652382</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>crossville.test-app</string>
	<key>PROJECT_ID</key>
	<string>test-app-e6403</string>
	<key>STORAGE_BUCKET</key>
	<string>test-app-e6403.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:803978652382:ios:5d2320643e00af2da8304f</string>
	<key>DATABASE_URL</key>
	<string>https://test-app-e6403.firebaseio.com</string>
</dict>
</plist>